<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nguyen Thanh Dat</title>
</head>
<body>
    <h1>Hello everyone. My name is Nguyen Thanh Dat</h1>
    <p><%=data%></p>
</body>
</html>